<!Doctype html>

<html>
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Forum</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/custom.css">
<link href="http://alexgorbatchev.com/pub/sh/current/styles/shCore.css" rel="stylesheet" type="text/css" />

<link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />



		<!--<link rel="stylesheet" type="text/css" href="css/prism.css">-->
	</head>
	<body>
		

<!-- Site header and navigation -->
	    <header class="top" role="header">
	        <div class="container">
	            <a href="#" class="navbar-brand pull-left">
	                Forum
	            </a>
	            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                <span class="glyphicon glyphicon-align-justify"></span>
	            </button>
	            <nav class="navbar-collapse collapse" role="navigation">
	                <ul class="navbar-nav nav pull-right">
	                    <li><a href="#">Home</a></li>
	                    <li><a href="#">About</a></li>
	                    <li><a href="#">Contact</a></li>
	                </ul>
	            </nav>
	        </div>
	    </header>

<!-- Middle content section -->
	    <div class="middle single">
	        <div class="container">
	        	<div class="row">
            		<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Questions</a></li>
					  <li class="active">PHP</li>
					</ol>
	            </div>
	            <div class="col-md-9 content">
	            	<div class="row question">

	            		<h1>Displaying invalid data error.</h1>
	            		<p>Breadcrumbs are a great way to show hierarchy-based information for a site. In the case of blogs, breadcrumbs can show the dates of publishing, categories, or tags. They indicate the current page's location within a navigational hierarchy.</p>
<pre class="brush: js">
function foo()
{
}
</pre>



	            		<p>Breadcrumbs are a great way to show hierarchy-based information for a site. In the case of blogs, breadcrumbs can show the dates of publishing, categories, or tags. They indicate the current page's location within a navigational hierarchy.</p>

	            		<div class="promotion pull-left">

	            			<span class="badge like">10</span>

	            			<span class="badge dislike">10</span>

	            			<a href="#" class="btn btn-success btn-large" title="Like"><i class="glyphicon glyphicon-thumbs-up"></i></a>

	            			<a href="#" class="btn btn-danger btn-large" title="Dislike"><i class="glyphicon glyphicon-thumbs-down"></i></a>

	            		</div>
	            		<div class="clear"></div>

	            		<div class="tags pull-left">
	            			<a class="btn btn-primary">PHP</a>
							<a class="btn btn-primary">css</a>
							<a class="btn btn-primary">html</a>
							<a class="btn btn-primary">xdf</a>
	            		</div>

	            		<div class="personal pull-right btn-warning">
	            			<span ><small></small>Posted on 12th june 2012</small></span><br/>
	            			<img src="img/prof.png" class="pull-left"/>
	            			<span><small>User : Mijoe<br/>test</small></span>

	            		</div>

	            	</div>	
	            	<div class="row comments">
	            		<h1>Discuss</h1>

						<div class="comments_tag">

						<div class="profile">
						    <img src="img/prof.png" class="pull-left">
						    <div class="details">
						        <span class="name">Mijoe Mathew</span>
						        <br>
						        <span class="date"># FEBRUARY 10, 2014
						    </span></div>
						</div>

						<h1>sdf sdf sdf sdf</h1>
						<p>asd asd asd asd asd asd asdausyd ayusodiyuoa siudouasoudoau soduastdfi aISH IASYI AS OAISYU DOAYSO DYAOSDYOAY SOD </p>
						</div>


						<div class="comments_tag">

						<div class="profile">
						    <img src="img/prof.png" class="pull-left">
						    <div class="details">
						        <span class="name">Mijoe Mathew</span>
						        <br>
						        <span class="date"># FEBRUARY 10, 2014
						    </span></div>
						</div>

						<h1>sdf sdf sdf sdf</h1>
						<p>asd asd asd asd asd asd asdausyd ayusodiyuoa siudouasoudoau soduastdfi aISH IASYI AS OAISYU DOAYSO DYAOSDYOAY SOD </p>
						</div>

						<div class="comments_tag">

						<div class="profile">
						    <img src="img/prof.png" class="pull-left">
						    <div class="details">
						        <span class="name">Mijoe Mathew</span>
						        <br>
						        <span class="date"># FEBRUARY 10, 2014
						    </span></div>
						</div>

						<h1>sdf sdf sdf sdf</h1>
						<p>asd asd asd asd asd asd asdausyd ayusodiyuoa siudouasoudoau soduastdfi aISH IASYI AS OAISYU DOAYSO DYAOSDYOAY SOD </p>
						</div>

						<div class="comments_tag" id="new">

							<div class="profile">
							    <img src="img/prof.png" class="pull-left">
							    <div class="details">
							        <span class="name">Mijoe Mathew</span>
							        <br>
							        <span class="date"># FEBRUARY 10, 2014
							    </span></div>
							</div>
							<div id="newComment"></div>
						</div>


						<h2>Your views</h2>

              			<textarea id="contents" name="contents" class="ckeditor" placeholder="Add your views"></textarea></p>
	            	</div>
	            </div>
	            <div class="col-md-3">
	                <h2>Tags</h2>
	                <ul class="nav nav-pills nav-stacked">
	                    <li><a href="#" target="_blank">Download Twitter Bootstrap</a></li>
	                    <li><a href="#" target="_blank">Bootstrap Responsive Themes</a></li>
	                    <li><a href="#" target="_blank">UK: HTML & CSS: Design and Build Web Sites</a></li>
	                    <li><a href="http://amzn.to/1lESKDp" target="_blank">UK: Bootstrap Site Blueprints</a></li>
	                    <li><a href="#" target="_blank">US: HTML & CSS: Design and Build Web Sites</a></li>
	                    <li><a href="#" target="_blank">US: Bootstrap Site Blueprints</a></li>
	                </ul>
	            </div>
	        </div>
	    </div>

<!-- Site footer -->
	    <div class="bottom">
	        <div class="container">
	            <div class="col-md-4">
	                <h3><span class="glyphicon glyphicon-heart"></span> Footer section 1</h3>
	                <p>Content for the first footer section.</p>
	            </div>
	            <div class="col-md-4">
	                <h3><span class="glyphicon glyphicon-star"></span> Footer section 2</h3>
	                <p>Content for the second footer section.</p>
	            </div>
	            <div class="col-md-4">
	                <h3><span class="glyphicon glyphicon-music"></span> Footer section 3</h3>
	                <p>Content for the third footer section.</p>
	            </div>
	        </div>
	    </div>




		 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>

		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script> 
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushVb.js" type="text/javascript"></script> 
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js" type="text/javascript"></script>

		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCss.js" type="text/javascript"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJava.js" type="text/javascript"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js" type="text/javascript"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushSql.js" type="text/javascript"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPhp.js" type="text/javascript"></script>
		<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPlain.js" type="text/javascript"></script>

		</script>
		<script type="text/javascript">
     SyntaxHighlighter.all()
</script>
		<script src="ckeditor/ckeditor.js"></script>
		<script type='text/javascript'>

			CKEDITOR.on('instanceCreated', function (e) {

			    $("#newComment").html(e.editor.getData());

			    e.editor.on('change', function (ev) {
			        $("#newComment").html(ev.editor.getData());
			    });
			});
CKEDITOR.config.syntaxhighlight_hideGutter = true;

CKEDITOR.config.syntaxhighlight_hideControls = true;

CKEDITOR.config.syntaxhighlight_collapse = true;

CKEDITOR.config.syntaxhighlight_codeTitle = 'Test';

CKEDITOR.config.syntaxhighlight_showColumns = true;

CKEDITOR.config.syntaxhighlight_noWrap = true;

CKEDITOR.config.syntaxhighlight_firstLine = 1;

CKEDITOR.config.syntaxhighlight_highlight = 1;

CKEDITOR.config.syntaxhighlight_lang =

'applescript','actionscript3','as3','bash','shell','sh','coldfusion','cf','cpp','c','c#',

'c-sharp','csharp','css','delphi','pascal','pas','diff','patch','erl','erlang','groovy','haxe',

'hx','java','jfx','javafx','js','jscript','javascript','perl','Perl','pl','php','text','plain','powershell',

'ps','posh','py','python','ruby','rails','ror','rb','sass','scss','scala','sql','tap','Tap','TAP',

'ts','typescript','vb','vbnet','xml','xhtml','xslt','html'; 

//CKEDITOR.config.syntaxhighlight_code = any source code; default ''


			var config = { extraPlugins: 'onchange,syntaxhighlight'};
			CKEDITOR.replace( 'contents',config);
		</script>
		<script src="js/custom.js"></script>
	</body>

</html>

